

.chart{
    background-color: white;
    /*text-align: right;*/
    
    
}

.circle{
    fill: blue;
}

.axisLabel{
    font-family:'Courier New', Courier, monospace;
    font-weight: 30;
}

.tooltip{
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;	
      
  }
  .legend{
      background-color: white;
      width: 100px;
      height:100px;
      text-align: left;
      
  }